.post-title {
  margin: 0;
  padding: 10px 0;
}

.date-posted {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: $post-meta;
  text-transform: uppercase;
  font-family: $sans-serif-secondary;
  font-weight: 300;
}

.post-meta {
  font-family: $sans-serif-secondary;
  font-weight: 300;
  color: $post-meta;
}

.demi-word {
  display: inline-block;
  line-height: 1.2;
  font-size: 1.5rem;
}

.post-tag, .post-category {
  display: inline-block;
  font-size: 1.2rem;
  padding: 4px 6px;
  margin: 0 2px;
  border: 2px solid $post-meta-link;
  color: $post-meta-link;
  &:hover {
    border: 2px solid $highlight-color;
  }
}

.article-preview {
  margin-bottom: 30px;
}

// entire post, single page view
.post-body {
  padding-bottom: 15px;
}

.read-more {
  // font-weight: 400;
  font-size: 2rem;
  font-family: $sans-serif-secondary;
  font-weight: 500;
  color: $post-meta-link;
  &:hover {
    color: $highlight-color;
  }
}

code {
  background: darken(#fff, 5%);
  padding: 3px 2px;
  // margin: 5px 0;
}

.article-preview:last-child hr.divider {
  opacity: 0;
}

// .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
//     background-color: $footerColor;
//     border-color: $footerColor;
// }

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: $primary-link-color;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
