.post-title {
  margin: 0;
  padding: 10px 0;
}

.date-posted {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: $post-meta;
  text-transform: uppercase;
  font-family: $sans-serif-secondary;
  font-weight: 300;
}

.post-meta {
  font-family: $sans-serif-secondary;
  font-weight: 300;
  color: $post-meta;
  padding-bottom: 10px;
}

.demi-word {
  display: inline-block;
  line-height: 1.2;
  font-size: 1.5rem;
}

.post-tag, .post-category {
  display: inline-block;
  font-size: 1.2rem;
  padding: 4px 6px;
  margin: 0 2px;
  border: 2px solid $post-meta-link;
  color: $post-meta-link;
  &:hover {
    transition: $default-transition;
    border: 2px solid $highlight-color;
  }
}

.article-preview {
  margin-bottom: 20px;
}

// entire post, single page view
.post-body {
  @include vertical-text-rhythm()
}

.read-more {
  font-size: 2rem;
  font-family: $sans-serif-secondary;
  font-weight: 500;
  color: $post-meta-link;
  display: inline-block;
  padding-top: 10px;
  margin-right: 20px;
  &:hover {
    transition: $default-transition;
    color: $highlight-color;
  }
}

code {
  background: darken(#fff, 5%);
  padding: 3px 2px;
}

.label-control {
  display: inline-block;
  font-family: $sans-serif-secondary;
  background: $primary-link-color;
  color: #fff;
  padding: 2px 5px;
  margin: 4px 0;
}

ul.pagination {
  font-family:$sans-serif-secondary;
  margin: 0;
 li.active a {
   color: #fff;
   background: $primary-link-color;
 }
}

ul.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 2px 12px;
    color: $primary-link-color;
    text-decoration: none;
    background-color: #fff;
}
