.primary-color {
  background: $primary-page-color;
}

.page-body {
  @include vertical-page-element-rhythm()
}

.top-level-navigation {
  ul {
    font-size: 1.8rem;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
      float: left;
      display: block;
      padding: 10px 30px 10px 0;
      margin: 0;
    }
  }
  a {
    font-weight: 300;
    &:after {
      content: "";
      display: block;
      height: 4px;
      background: transparent;
      width: 0;
      transition: $default-transition;
    }
    &:hover:after {
      width: 100%;
      background: $highlight-color;
    }
  }
}

@media (min-width: 768px) {
  .top-level-navigation a {
    font-size: 2.2rem;
  }
}

ul.structure-list {
  margin: 0;
  list-style: none;
  li {
    margin: 0;
    line-height: inherit;
  }
}

.sidebar {
  color: $secondary-text-color;
  font-size: 2rem;
  a {
    color: $secondary-text-color;
    border-bottom: 1px solid $secondary-text-color;
    &:hover {
      transition: 400ms all;
      border-bottom: 1px solid $highlight-color;
    }
  }
  .content-box {
    margin-bottom: 30px;
    background: $content-box;
  }
}

.sidebar-list {
  li {
    font-weight: 400;
    padding: 0 0 15px;
    a {
      border-bottom: 2px solid $secondary-text-color;
      &:hover {
        transition: 400ms all;
        border-bottom: 2px solid $highlight-color;
      }
    }
  }
}

.well {
  padding: 15px;
}

.featured-container {
  height: 250px;
  width: 100%;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  .well {
    padding: 10px;
    background: transparent;
    border: none;
  }
  h1 {
    font-size: 22px;
    font-weight: 600;
  }
  &:hover {
    opacity: 0.8;
  }
  .post-tag {
    background: transparent;
    border: 2px solid #fff;
    &:hover {
      background: transparent;
    }
  }
}

.gradient-overlay {
  background: -webkit-linear-gradient(rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.inline-image {
  margin: 15px;
  &.mod-top-aligned {
    margin-top: 10px;
  }
}

.block-image {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .inline-image {
    max-width: 50%;
    margin: 15px 5px 5px 5px;
  }
}

.caption-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.inline-image-caption {
  font-size: 1.5rem;
  padding: 5px 0;
}

.p-spacing {
  line-height: 1.4;
  padding: 10px 0;
}

.page-footer {
  padding: 20px 0 15px 0;
  color: $page-footer-color;
  font-size: 1.8rem;
  h3 {
    font-weight: 400;
  }
  .inline-list {
    padding-right: 15px;
  }
}
