$primary-text-color: #444;
$primary-link-color: #338772;
$primary-nav-color: #fff;
$sans-serif-main:"Lato", "Helvetica Neue", Helvetica, sans-serif;

html {
  font-size: 62.5%;
  color: $primary-text-color;
}

body {
  font-size: 2.2rem;
  font-family: $sans-serif-main;
  color: #555;
  background: $body-bg;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $primary-link-color;
}

p {
  line-height: 1.4;
  @include vertical-text-rhythm()
}
 p:last-child {
   padding-bottom: 0;
 }

p > a {
  font-weight: 400;
  border-bottom: 1px solid;
  &:hover {
    transition: $default-transition;
    border-bottom: 1px solid $highlight-color;
  }
}

p > strong {
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: $sans-serif-main;
  font-weight: 700;
  @include vertical-heading-rhythm()
  line-height: 1.2;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2.7rem;
}

.post-body h1 {
  font-size: 3rem;
}

.post-body h2 {
  font-size: 2.8rem;
}

.post-body h3 {
  font-size: 2.4rem;
}

.post-body h4 {
  font-size: 2.2rem;
}

.top-level-navigation a {
  color: $primary-nav-color;
}

ol, ul {
  margin-left: 60px;
  @include vertical-text-rhythm()
  li {
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    line-height: 1.4;
  }
}

blockquote {
  @include vertical-text-rhythm()
  background: $content-box;
  font-style: italic;
  font-size: 2.4rem;
  line-height: 1.4;
  padding: 20px 20px 10px 20px;
  border-left: 10px solid $secondary-text-color;
}
