{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<div class="container page-body text-center">
  <div class="row">
    <div class="col-12">
      <h1>{{ .Title }}</h1>
      <div class="post-meta">
        <div class="date-posted mod-single-page">{{ .Date.Format "Jan. 2, 2006" }}</div>
        <span class="demi-word">POSTED IN:</span>
        {{ range .Params.blogcategories }}
          <a href="/blog/categories/{{ . | urlize }}"><span class="post-category">{{ . }}</span></a>
        {{ end }}
        <span class="demi-word">TAGS:</span>
        {{ range .Params.blogtags }}
          <a href="/blog/tags/{{ . | urlize }}"><span class="post-tag">{{ . }}</span></a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <article class="post-body">
        {{ .Content }}
      </article>
      <div class="row post-body">
        <div class="col-6 small">
          {{ if .PrevInSection }}
            <a href="{{.PrevInSection.Permalink}}"><span class="label-control"><i class="fa fa-angle-left"></i> Previous</span></a>
            <p>{{.PrevInSection.Title}}</p>
          {{ end }}
          &nbsp;
        </div>
        <div class="col-6 text-right small">
          {{ if .NextInSection }}
            <a href="{{.NextInSection.Permalink}}"><span class="label-control">Next <i class="fa fa-angle-right"></i></span></a>
            <p>{{.NextInSection.Title}}</p>
          {{ end }}
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
