<div class="row work-row">
  <div class="col-6">
    <div class="work-heading-img-section" style="background-image: url({{ .Params.thumbnail }});"></div>
  </div>
  <div class="col-6 work-heading-section">
    <h2>{{ .Title }}</h2>
    {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}"><span class="post-tag">{{ . }}</span></a>
    {{ end }}
    <p class="small">{{ .Params.summary }}</p>
    <a class="read-more" href="{{ .Permalink }}">READ MORE <i class="fa fa-arrow-circle-right"></i></a>
    <a class="read-more" href="{{ .Params.site_link }}">VISIT SITE <i class="fa fa-external-link-square"></i>
  </a>
  </div>
</div>
