<div class="row work-row">
  <div class="col-6">
    <a href="{{ .Permalink }}"><img class="work-heading-img-section img-responsive" src="{{ .Params.thumbnail}}" /></a>
  </div>
  <div class="col-6 work-heading-section">
    <h2>{{ .Title }}</h2>
    {{ range .Params.workcategories }}
      <a href="/workcategories/{{ . | urlize }}"><span class="post-tag">{{ . }}</span></a>
    {{ end }}
    {{ range .Params.worktags }}
      <a href="/worktags/{{ . | urlize }}"><span class="post-tag">{{ . }}</span></a>
    {{ end }}
    <p class="small">{{ .Params.summary }}</p>
    <a class="icon-link" href="{{ .Permalink }}">READ MORE <i class="fa fa-arrow-circle-right"></i></a>
    {{if .Params.site_link }}
    <a class="icon-link" href="{{ .Params.site_link }}">VISIT SITE <i class="fa fa-external-link-square"></i>
    {{end}}
  </a>
  </div>
</div>
