<div class="col-6">
  <img src="{{ .Params.thumbnail }}" / class="img-responsive">
</div>
<div class="col-6 text-center">
  <h2>{{ .Title }}</h2>
  {{ range .Params.categories }}
    <div>
      <a href="/categories/{{ . | urlize }}"><span class="post-category">{{ . }}</span></a>
    </div>
  {{ end }}
  {{ range .Params.tags }}
    <a href="/tags/{{ . | urlize }}"><span class="post-tag">{{ . }}</span></a>
  {{ end }}
  <p>{{ .Params.summary }}</p>
  <a class="read-more" href="{{ .Permalink }}">READ MORE <i class="fa fa-arrow-circle-right"></i></a>
  <a class="read-more" href="http://portland-adventure.herokuapp.com/">VISIT SITE <i class="fa fa-external-link-square"></i>
</a>
</div>
