{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<div class="container page-body">
  <div class="row">
    <div class="col-12">
      <h1>{{ .Title }}</h1>
      <div class="post-meta">
        <span class="date-posted">{{ .Date.Format "Jan. 1, 2006" }} // </span>
        <span class="demi-word">POSTED IN:</span>
        {{ range .Params.categories }}
          <a href="/categories/{{ . | urlize }}"><span class="post-category">{{ . }}</span></a>
        {{ end }}
        <span class="demi-word">TAGS:</span>
        {{ range .Params.tags }}
          <a href="/tags/{{ . | urlize }}"><span class="post-tag">{{ . }}</span></a>
        {{ end }}
      </div>
      <article class="post-body">
        {{ .Content }}
      </article>
      {{ if .PrevInSection }}
        <div class="pull-left">
          <a href="{{.PrevInSection.Permalink}}"></span> {{.PrevInSection.Title}}</a>
        </div>
      {{ end }}
      {{ if .NextInSection }}
        <div class="pull-right">
          <a class="text-right" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}</a>
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
