    <footer class="page-footer primary-color">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <h3>About</h3>
            <p class="small">
            Hanna Liebl's homepage: writing on development and web design and a project showcase.
            </p>
          </div>
          <div class="col-4">
            <h3>Navigation</h3>
            <p class="small">
              <span class="inline-list"><a href="/">Home</a></span>
              <span class="inline-list"><a href="/about">About</a></span>
              <span class="inline-list"><a href="/blog">Blog</a></span>
              <span class="inline-list"><a href="/work">Work</a></span>
            </p>
          </div>
          <div class="col-4">
            <h3>Contact</h3>
            <p class="small">
              <span class="inline-list"><a href="https://twitter.com/lieblhan"><i class="fa fa-twitter-square"></i> Twitter</a></span>
              <span class="inline-list"><a href="mailto:hanna.liebl@gmail.com"><i class="fa fa-envelope-square"></i> Email</a></span>
              <span class="inline-list"><a href="https://github.com/hannaliebl"><i class="fa fa-github-square"></i> Github</a></span>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ .Site.BaseURL }}js/prism.js"></script>
  </body>
</html>
