<div class="content-box well">
  <p>
    Welcome to my personal blog, where I write about anything that doesn't fit
    in with my more work-related blog.
  </p>
</div>
<div class="content-box well">
  <h2 class="content-box-title ">Categories</h2>
  <ul class="structure-list sidebar-list">
    {{ range first 10 .Site.Taxonomies.personalblogcategories.ByCount }}
    <li>
      <a
        href="/personal-blog/categories/{{ .Name | urlize }}"
        class="list-group-item"
        >{{ replace .Name "-" " " | title }}</a
      >
    </li>
    {{ end }}
  </ul>
</div>
