{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<div class="container page-body">
  <div class="row">
    <div class="col-12">
      <div class="page-intro text-center" style="background: url('/img/header.jpg') 0% 0%; background-size:cover;">
        <h1 class="page-intro-heading">Hanna Liebl</h1>
        <p class="page-intro-subheading">Software Development</p>
        <p class="page-intro-text">Welcome to my blog and homepage. I
        like to design and build for the web and write about what I learn along the way.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Featured Posts and Projects</h2>
    </div>
  </div>
  <div class="row">
    {{ $featuredPosts := .Site.Taxonomies.featured.true }}
    {{ range first 6 $featuredPosts.Pages }}
      <div class="col-6">
        <a href="{{ .Permalink}}">
          <div class="featured-container" style="background-image: url({{ .Params.featured_img }});">
            <div class="gradient-overlay">
              <div class="well">
                <h1>{{ .LinkTitle }}</h1>
                {{ if .Params.worktags }}
                  {{ range .Params.worktags }}
                    <span class="post-tag">{{ . }}</span>
                  {{ end }}
                {{ end }}
                {{ if .Params.blogtags }}
                  {{ range .Params.blogtags }}
                    <span class="post-tag">{{ . }}</span>
                  {{ end }}
                {{ end }}
                {{ if .Params.personalblogtags }}
                  {{ range .Params.personalblogtags }}
                    <span class="post-tag">{{ . }}</span>
                  {{ end }}
                {{ end }}
              </div>
              <span class="img-credit">{{ .Params.img_credit }}</span>
            </div>
          </div>
        </a>
      </div>
    {{ end }}
  </div>
</div>
{{ partial "footer.html" . }}
