/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
p { font-family: "Merriweather Sans", sans-serif; font-size: 14pt; padding: 15px 0; }

li { font-family: "Merriweather Sans", sans-serif; list-style: none; font-size: 18pt; }

ul { padding: 0; }

h1 { font-family: "Lato", sans-serif; font-weight: 600; font-size: 40pt; }

h2 { font-family: "Lato", sans-serif; margin: 20px 0 10px 0; font-weight: 600; color: #404040; }

a.contact { padding: 0 5px; margin-bottom: 2px; }

footer#main-footer p { font-size: 11pt; }

label, button, input { font-family: "Lato", sans-serif; font-size: 12pt; font-weight: 700; }

input { margin: 10px 0; }

.form-horizontal label.control-label { margin-top: 10px; margin-bottom: 10px; }

.container { width: 720px; }

@media only screen and (max-width: 719px) { .container { width: 100%; padding: 0 15px; }
  li { font-size: 14pt; }
  .form-horizontal label.control-label { margin: 0px; }
  h1 {font-size: 30pt;} }
header#top-header { margin: 40px 0; }

section { border-bottom: 2px solid #c9c9c9; border-top: 2px solid #c9c9c9; margin-bottom: 40px; }

.senate.democrat { color: #153885; }

.senate.republican { color: #851515; }

senate.independent { color: #4f4f4f; }

.house.democrat { color: #5b73a9; }

.house.republican { color: #a95b5b; }

house.independent { color: #838383; }
